In [12]:
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.model_selection import cross_validate,KFold, RandomizedSearchCV
from sklearn.model_selection import train_test_split
import seaborn as sns
from math import pi
import matplotlib.pyplot as plt
import random
%matplotlib inline
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate,KFold, RandomizedSearchCV
from sklearn.model_selection import train_test_split
from sklearn.utils import resample
from sklearn.model_selection import train_test_split

train_labels = pd.read_csv('Archivos de datos/train_labels.csv', encoding='latin-1')
train = pd.read_csv('Archivos de datos/datos_procesados.csv', encoding='latin-1')

X=train
y=train_labels['damage_grade'].astype(int)

In [13]:
## Busqueda de los mejores Hiperparametros con Random
n_estimators=np.arange(10,110,10)
max_depth=np.arange(2,22,4)
min_samples_split=np.arange(1,11,1)
min_samples_leaf=np.arange(1,11,1)

param={'n_estimators':n_estimators,'max_depth':max_depth,'min_samples_split':min_samples_split,'min_samples_leaf':min_samples_leaf}

clf=RandomForestClassifier()

kf=KFold(n_splits=2,shuffle=True)

rs=RandomizedSearchCV(clf,param_distributions=param,cv=kf,scoring='f1_micro')

In [ ]:
%%time
rs.fit(X,y)

In [ ]:
rs.best_params_

In [ ]:
#Busco los hiperparametros con Grid para intentar mejorar el score

In [ ]:
pipe = make_pipeline(StandardScaler(), 
                     RandomForestClassifier(random_state=123))
pipe

param_grid = {'randomforestclassifier__n_estimators': [200, 1000],
              'randomforestclassifier__min_samples_leaf': [1, 12],
              'randomforestclassifier__min_samples_split': [2, 12],
              'randomforestclassifier__max_depth': [1, 25]
             }

gs = GridSearchCV(pipe, param_grid)

In [ ]:
gs.best_params_

In [14]:
%%time
clf=RandomForestClassifier(n_estimators=700, min_samples_split=2, min_samples_leaf=1, max_depth=25)
clf.fit(X,y)

Wall time: 7min 41s

RandomForestClassifier(max_depth=25, n_estimators=700)

In [15]:
X_test=pd.read_csv('Archivos de datos/test_values.csv')
X_test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,t,r,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,t,r,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,t,r,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,t,r,...,0,0,0,0,0,0,0,0,0,0

In [16]:
prediction=clf.predict(X_test))
result=pd.DataFrame(prediction)

In [17]:
result['building_id']=X_test['building_id']
result.rename(columns={0:'damage_grade'},inplace=True)
result=result[['building_id','damage_grade']]
result.head()

   building_id  damage_grade
0       300051             3
1        99355             2
2       890251             2
3       745817             1
4       421793             3

In [18]:
result.to_csv('Archivos de datos/resultado_ramdomforest.csv',index=False)

![random](Imagenes/randomforest_submit.PNG)