In [14]:
import pandas as pd
import numpy as np
import math

In [10]:
resultado_xgboost = pd.read_csv('Archivos de datos/xgboost_resultado.csv', encoding='latin-1')
resultado_cat = pd.read_csv('Archivos de datos/catboost_resultado.csv', encoding='latin-1')
#resultado_forest = pd.read_csv('Archivos de datos/resultado_ramdomforest.csv', encoding='latin-1')

In [3]:
resultado_xgboost.head()

   building_id  damage_grade
0       300051             3
1        99355             2
2       890251             2
3       745817             1
4       421793             3

In [4]:
columna_damage = resultado_xgboost['damage_grade'].
columna_damage

0        3
1        2
2        2
3        1
4        3
        ..
86863    2
86864    3
86865    2
86866    2
86867    1
Name: damage_grade, Length: 86868, dtype: int64

In [22]:
resultado_xgboost['damage_grade'] = ((resultado_xgboost['damage_grade'] + resultado_cat['damage_grade'])/ 2)

In [23]:
resultado_xgboost['damage_grade'] = resultado_xgboost['damage_grade'].apply(np.floor)

In [25]:
resultado_xgboost['damage_grade'] = resultado_xgboost['damage_grade'].astype(int)

In [26]:
resultado_xgboost

       building_id  damage_grade
0           300051             3
1            99355             2
2           890251             2
3           745817             1
4           421793             3
...            ...           ...
86863       310028             2
86864       663567             2
86865      1049160             2
86866       442785             2
86867       501372             1

[86868 rows x 2 columns]

In [27]:
resultado_xgboost.to_csv('Archivos de datos/combinacion.csv',index=False)